body {
  margin-bottom: 8px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #202124;
  width: 180px;
}

.table {
  width: 100%;
  line-height: 30px;
  margin-top: 8px;
}
.left {
  width: 75px;
  display: inline-block;
  position: relative;
  text-align: left;
}
.middle {
  width: 25%;
  position: absolute;
  padding-top: 5px;
  padding-left: 4px;
}
.right {
  position: absolute;
  padding-left: 25px;
}

.checkmark-label {
  font-size: 14px;
  color: #5865F2;
  padding-left: 3px;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.button {
  border-radius: 4px;
  font-size: 14px;
  background-color: #484854;
  color: white;
  border-style: none;

  width: 75px;
  height: 30px;
  text-align: center;
}

.button:hover {
  background-color: #5c5c6a;
}

.label {
  font-size: 14px;
  margin-left: 8px;
  color: white;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #5865F2;
}

input:focus+.slider {
  box-shadow: 0 0 1px #5865F2;
}

input:checked+.slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/*

Checkmark animation

*/
.checkmark__circle {
  stroke-dasharray: 141; /* ORIGINALLY 166px */
  stroke-dashoffset: 141; /* ORIGINALLY 166px */
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #5865F2;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 20px; /* ORIGINALLY 56px */
  height: 20px; /* ORIGINALLY 56px */
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #5865F2;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48; /* ORIGINALLY 48px */
  stroke-dashoffset: 48; /* ORIGINALLY 48px */
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none
  }

  50% {
    transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #5865F2
  }
}